button,
input[type="text"] {
  margin-left: 20px;
  margin-bottom: 10px;
  width: 80%;
}

.list-view {
  width: 240px;
  float: left;
}

#message {
  width: 240px;
}

#map {
  margin-left: 240px;
  height: 100%;
}

.list-view .title {
  margin-left: 20px;
}

.list-view .item {
    margin: 20px;
}
